@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&family=Poppins:wght@400;500&family=Varela+Round&display=swap');

/* Set up the modal overlay */


.no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    /* body {
        font-family: sans-serif;
    } */
}